*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: rgb(0, 166, 255);
}

#navbar div{
    display: flex;
    gap: 40px;
}

#navbar div a{
    color: black;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
 }

 #hero img{
    width: 40%;
 }

 #hero div{
    width: 45%;
}
 
#hero div h1{
    font-size: 30px;

}

#hero div p {
    font-size: 16px;
    margin: 15px 0;
    width: 85%;
}

.inpu{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 500px;
    margin-top: 30px;
}

.inpu .email{
    display: block;
    height: 40px;
    width: 300px;
    padding-left: 10px;
}

.inpu .button{ 
    background-color: rgb(0, 0, 111);
    color: #fff;
    padding: 0 16px;
    border: none;
    height: 40px;
}

#hero2{
    padding:80px 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    background-color:azure;
    background-position: center;
    background-size: cover;

}

#hero2 img{
    width: 40%;
}

#hero2 div{
    width: 40%;
}

 #hero2 div h1{
    font-size: 23px;
 }

#hero2 div p{
    font-size: 17px;
}

#section3{
    padding:50px;
    display: flex;
    justify-content: space-between;
    background-color:slategray;
    color: #fff;
}

.section3Text{
    width: 40%;
}

.inp{
    width: 50%;
}

.inp input{
    display: block;
    height: 40px;
    width: 80%;
    padding-left: 10px;
}

.inp button{
    background-color: rgb(0, 0, 111);
    color: #fff;
    padding: 5px 16px;
    margin-top: 10px;
    border: none;

}
#bottom{
    background-color: rgb(25, 25, 82);
    display: flex;
    justify-content: space-between;
    padding-top: 30px; 
    
}
.phone{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;

}

.example{
    display: flex;
    color: white;
     align-items: center;
     justify-content: center;
     padding-top: 10px;
}
#bottom{
     display: flex;
     font-size: 17px;
     padding-left: 40px;
     padding-right: 40px;
     
     

    }
    .aboutus{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .contactus{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .facebook{
        display: flex;
        flex-direction: column;
        
    }

    .aboutus a{
        color: white;
    }
    .contactus a{
        color: white;
    }
    .facebook a{
        color: white;
        
        

    }
    .iconimg a{
        color: white;
      padding: 13px;
      
       
        
    }

@media screen and (max-width:992px) {
    #hero, #section3{
        padding: 20px 30px;
    }

    #hero div, #hero img, #hero2 img{
        margin-top: 20px;
        width: 50%;
    }
    
    #hero div h1{
        font-size: 22px;
    }

    #hero div p{
        font-size: 18px;
    }
}

@media screen and (max-width:768px){
    #hero img{
        width: 60%;
    }

    #hero div h1{
        font-size: 20px;
        }   
        
        .section3Text, .inp{
            width:80%;
            margin-bottom: 2rem;
            padding-right: 20px;
        }
        
        
        #hero2 div p{
            font-size: 15px;
        }

        #bottom{
            font-size: 13px;
        }
        
        #hero div p{
            font-size: 15px;
        }
        #hero2 div h1{
            font-size: 20px;
        }
    }

    @media screen and (max-width:576px){
        #hero{
            display: flex;
            flex-direction: column;
        }

        #hero div, #hero img, #hero2 img,#hero2 div{
            width: 90%;
        }

        #hero2{
            display: flex;
            flex-direction: column;
        }

        #bottom{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }

        #section3{
            display: flex;
            flex-direction: column;
        }

    }
    
            

        

            
        
      
    
        
    
